(MAA spectrum) David M Bressoud - Proofs and confirmations _ the story of the alternating sign matrix conjecture-Cambridge University Press  (1999).pdf
(Springer Undergraduate Mathematics Series) Ian Anderson - A First Course in Discrete Mathematics-Springer (2002).pdf